<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Poll Submitted!</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/poll_submitted.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>

  <body>
    <div style='height: 100vh; background-color: #fcf4de; display: flex; flex-direction: column; align-items:center;'><img style='height: 400px' src='https://github.com/VagrantGinger68/Lighthouse-Midterm/blob/ryan/public/images/decision-maker-logo.png?raw=true'>
      <h1>Here are the links for your poll!</h1>
      <h2>Poll Results: <a href="http://localhost:8080/results/<%= pollId %>">http:localhost:8080/results/<%= pollId %></a></h2>
      <h2>Share Poll: <a href="http://localhost:8080/submissions/<%= pollId %>">http:localhost:8080/submissions/<%= pollId %></a></h2>
      <h2>Links have also been sent to <%= email%></h2>
      </div>
  </body>
</html>
