<!DOCTYPE html>
<html lang="en">
  <head>
    <title>View Results: <%= title %></title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/submission.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <h1><%= title %></h1>
    <h2><%= question %></h2>
    <form action="/submissions/<%=poll_id%>" method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="submitter" placeholder="Enter name (optional)"/>

      <% for (let i = 0; i < choices.length; i++) { %>
          <label><%= choices[i].title %></label>
          <select name="option<%= i + 1 %>" name="option<%= i + 1 %>"required>
            <option disabled selected value> -- select rank -- </option>
            <% for (let rank = 1; rank <= choices.length; rank++) { %>
                <option value="<%= rank %>"><%= rank %></option>
            <% } %>
          </select>
      <% } %>

      <button type="submit" class="submit-answer-btn">Submit</button>
  </form>
  </body>
</html>
